<template lang="pug">
    a.article(href="#", @mouseover="articleImg = img2", @mouseleave="articleImg = img1")
        .article__column-left
            img.article__image(:src="articleImg")
        .article__column-right
            .article__date 2016.01.01
            .article__title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            .article__content-preview サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト…
        .clear
</template>

<script>
import img1 from './article1.png';
import img2 from './article2.png';

export default {
    data () {
        return {
            img1,
            img2,
            articleImg: img1
        }
    },
    name: 'Article',
}
</script>

<style lang="scss" scoped>
    .article {
        text-decoration: none;
        color:  black;
        height: 115px;
        margin-bottom: 40px;
        display: block;

        &__date {
            font-size: 12px;
            color: #999999;
        }

        &__title {
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
        }

        &__content-preview {
            font-size: 13px;
            color: black;
        }

        &__column-left {
            float: left;
            width: 206px;
        }

        &__column-right {
            float: left;
            width: 534px;
            padding: 0 20px 0 15px;
        }
    }

    .article:hover {
        color: #e7ba2f;
    }

    .clear {
        clear: both;
    }
</style>