<template lang="pug">
    div
        a(href="#")
            img(:src="bannerTop")
        div.recommend
            h3 Recommend
            hr
            RecommendArticle
            RecommendArticle
            RecommendArticle
        a.bottomBanner(href="#")
            img(:src="bannerBottom")
        a.bottomBanner(href="#")
            img(:src="bannerBottom")
        a.bottomBanner(href="#")
            img(:src="bannerBottom")
</template>

<script>
import bannerTop from './bannerTop.png';
import bannerBottom from './bannerBottom.png';
import RecommendArticle from '../recommend-article/RecommendArticle.vue';

export default {
    data () {
        return {
            bannerTop,
            bannerBottom
        }
    },
    name: 'Aside',
    components: {
        RecommendArticle
    }
}
</script>

<style lang="scss" scoped>
    .recommend {
        text-align: center;
    }

    .recommend h3 {
        margin: 20px 0 0 0;
    }

    .recommend hr {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #333; /* old IE */
        background-color: #333; /* Modern Browsers */
        margin: 0 0 20px 0;
    }

    .bottomBanner img{
        margin-top: 17px;
    }
</style>