<template lang="pug">
    div
        Article
        Article
        Article
        Article
        Article
        Article
        Article
        Article
        Article
        Article
        .more-button
            a.more-button__link(href="#")
                .more-button__content
                    span More
                    span.more-button__arrow &gt;
</template>

<script>
import Article from '../article/Article.vue';

export default {

    // data () {
    //     return {
    //         slide1,
    //         slide2,
    //         slide3,
    //         prev_arrow,
    //         next_arrow,
    //         slideIndex: 1
    //     }
    // },
    name: 'ArticleList',
    components: {
        Article
    }
}
</script>

<style lang="scss" scoped>
    .more-button {
        text-align:center;
        font-weight: bold;

        &__link {
            height: 40px;
            text-decoration: none;
            color: white;
            text-align: center;
        }
        &__content {
            display: inline-block;
            width: 400px;
            background: #333333;
            height: 40px;
            padding-top: 8px;
        }

        &__arrow {
            float: right;
            margin-right: 20px;
            font-weight: bold;
        }
    }
</style>