<template lang="pug">
    a.article(href="#", @mouseover="articleImg = img2", @mouseleave="articleImg = img1")
        .article__column-left
            img.article__image(:src="articleImg")
        .article__column-right
            .article__title サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
            .article__date 2016.01.01
        .clear
</template>

<script>
import img1 from './recommend1.png';
import img2 from './recommend2.png';

export default {
    data () {
        return {
            img1,
            img2,
            articleImg: img1
        }
    },
    name: 'RecommendArticle',
}
</script>

<style lang="scss" scoped>
    .article {
        text-decoration: none;
        color:  black;
        height: 63px;
        margin-bottom: 20px;
        display: block;

        &__date {
            font-size: 12px;
            color: #999999;
        }

        &__title {
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
        }

        &__content-preview {
            font-size: 13px;
            color: black;
        }

        &__column-left {
            float: left;
            width: 112px;
        }

        &__column-right {
            float: left;
            width: 188px;
            padding: 0 0px 0 5px;
            text-align: left
        }
    }

    .article:hover {
        color: #e7ba2f;
    }

    .clear {
        clear: both;
    }
</style>