<template lang="pug">
    .header(id="top")
        a.logo(href="#")
            img(:src="logo")
</template>

<script>
import logo from './website-logo.png';

export default {
    data () {
        return {
            logo: logo
        }
    },
    name: 'Header'
}
</script>

<style lang="scss" scoped>
    .header {
        border-top: 3px solid #e7ba2f;
        text-align: center;
    }

    .logo {
        display: inline-block;
        margin: 25px auto 25px auto;
        text-align: center;
    }
</style>