<template lang="pug">
    .app
        Header
        Slider
        .app__content
            .app__column.app__column--left
                ArticleList
            .app__column.app__column--right
                Aside
        .clear
        .toTop
            a(href="#top")
                span.app__top-arrow &lt;
        Footer
</template>

<script>
import Header from './header/Header.vue'
import Slider from './slider/Slider.vue';
import ArticleList from './article-list/ArticleList.vue';
import Aside from './aside/Aside.vue';
import Footer from './footer/Footer.vue';

export default {
    components: {
        Header,
        Slider,
        ArticleList,
        Aside,
        Footer
    }
}
</script>

<style lang="scss" scoped>
    .app {
        max-width: 1400px;
        min-width: 1400px;
        margin: 0 auto;

        &__content {
            margin: 42px 160px 0 160px;
        }

        &__column {
            float: left;
        }

        &__column--left {
            width: 740px;
        }

        &__column--right {
            width: 340px;
            background-color: #efefef;
            padding: 20px;
        }

        &__top-arrow {
            transform: rotate(90deg);
            display: inline-block;
            color: black;
            font-size: 50px;
            font-weight: bold;
            float: right;
        }
    }

    .clear {
        clear: both;
    }
</style>