<template lang="pug">
    .footer
        .footer__left
            a(href="#").footer__company 運営会社
            a(href="#").footer__privacy 個人情報保護について
        .footer__right
            span &copy;2016 Sample
</template>

<script>
export default {
    data () {
        return {

        }
    },
    name: 'Footer'
}
</script>

<style lang="scss" scoped>
    .footer {
        color: white;
        height: 45px;
        background: black;
        padding: 10px 160px 0 160px;
        margin-top: 90px;

        &__left {
            display: inline-block;
        }

        &__privacy {
            margin-left: 20px;
            text-decoration: none;
            color: white;
        }

        &__right {
            float: right;
            font-size: 14px;
        }

        &__company {
            text-decoration: none;
            color: white;
        }
    }
</style>