<template lang="pug">
    .slider
        .slider__slide
            img.slide__img(:src="slide1")
            .slider__slide-text
                .slider__slide-title キャッチコピーが入ります。
                .slider__slide-subtitle
                    span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    br
                    span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        .slider__slide
            img.slide__img(:src="slide2")
            .slider__slide-text
                .slider__slide-title キャッチコピーが入ります。
                .slider__slide-subtitle
                    span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    br
                    span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        .slider__slide
            img.slide__img(:src="slide3")
            .slider__slide-text
                .slider__slide-title キャッチコピーが入ります。
                .slider__slide-subtitle
                    span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト
                    br
                    span サンプルテキストサンプルテキストサンプルテキストサンプルテキスト

        a.slider__prev(href="#", @click="sliderStep(-1, $event)")
            img(:src="prev_arrow")
        a.slider__next(href="#", @click="sliderStep(1, $event)")
            img(:src="next_arrow")

        .slider__pager
            span.slider__page(@click="gotoSlide(1)")
            span.slider__page(@click="gotoSlide(2)")
            span.slider__page(@click="gotoSlide(3)")
</template>

<script>
import slide1 from './slide1.png';
import slide2 from './slide2.png';
import slide3 from './slide3.png';
import prev_arrow from './prev_arrow.png';
import next_arrow from './next_arrow.png';

export default {
    mounted: function () {
        this.showSlide(this.slideIndex);
    },
    methods: {
        sliderStep: function(n, event) {
            if (event) event.preventDefault();
            this.showSlide(this.slideIndex += n);
        },
        showSlide: function (n) {
            var i;
            var slides = document.getElementsByClassName("slider__slide");
            var pages = document.getElementsByClassName("slider__page");
            if (n > slides.length) {this.slideIndex = 1}
            if (n < 1) {this.slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < pages.length; i++) {
                pages[i].className = pages[i].className.replace(" slider__page--active", "");
            }
            slides[this.slideIndex-1].style.display = "block";
            pages[this.slideIndex-1].className += " slider__page--active";
        },
        gotoSlide: function (n) {
            this.showSlide(this.slideIndex = n);
        }
    },
    data () {
        return {
            slide1,
            slide2,
            slide3,
            prev_arrow,
            next_arrow,
            slideIndex: 1
        }
    },
    name: 'Slider'
}
</script>

<style lang="scss" scoped>
    .slider {
        width: 100%;
        height: 418px;
        position: relative;

        &__slide {
            max-height: 418px;
            display: none;
        }

        &__prev, &__next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            margin-top: -24px;
            transition: 0.6s ease;
            user-select: none;
        }

        &__prev {
            margin-left: 160px;
        }

        &__next {
            right: 0;
            margin-right: 160px;
        }

        &__slide-text {
            color: white;
            top: 50%;
            position: absolute;
            text-align: center;
            width: 100%;
            transform: translateY(-60%);
        }

        &__slide-title {
            font-size: 68px;
            font-weight: bold;
        }

        &__slide-subtitle {
            font-size: 18px;
            font-weight: 500;
        }

        &__pager {
            text-align: center;
            position: absolute;
            bottom: 20px;
            width: 100%;
        }

        &__page {
            cursor: pointer;
            height: 17px;
            width: 17px;
            margin: 0 2px;
            background-color: white;
            border-radius: 50%;
            display: inline-block;
            margin: 0 8px;
        }

        &__page--active, &__page:hover {
            background-color: #e7ba2f;
        }
    }
</style>